#hoverEffect {
   background-color: blue;
   opacity: .10;
}

.welcome-message {
  margin: 0;
  margin-top: 8px;
}

body {
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin: 0;
   justify-content: center;
   align-items: center;
 }
 
.header {
   display: flex;
   justify-content: center;
 }

 .row {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 640px;
 }

.square {
   width: 960px;
   background: rgb(0 0 256);
   opacity: 0;
 }

 


 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 960px;
   height: 640px;
   border: 2px solid black;
 }

 /* * {
   border: 2px solid red;
 } */