:root {
  --squareColor: black;

}


.welcome-message {
  margin: 0;
  margin-top: 8px;
}

#hoverEffect {
   background-color: var(--squareColor);
   opacity: .10;
}

body {
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin: 0;
   justify-content: center;
   align-items: center;
 }
 
 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 960px;
  height: 640px;
  border: 2px solid black;
}
 
 .row {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 640px;
 }

.square {
   width: 960px;
   background: var(--squareColor);
   opacity: 0;
 }

 .bottomContainer {
   display: flex;
   align-items: center;
   gap: 16px;
 }

 .colorContainer {
   display: flex;
   flex-direction: column;
   gap: 16px;
 }

 .color {
   border: 2px solid black;
   width: 24px;
   height: 24px;
   border-radius: 16px;
 }

 .color:hover {
   cursor: pointer;
 }